img{
    margin-left: 12%;
    margin-top: 9%;
}

body {
    margin: 0;
}

#html-body {
    position: absolute;
    top: 0;
    left: 0;
}

a {
    position: absolute;
    margin-top: -30%;
    margin-left: 90%;
}